.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 20px;
  font-weight: bold;
}

// .article-banner {
//   width: 50%;
//   max-width: 80%;
//   height: 10%;
//   margin: 0 auto;
// }


.article-banner {
  height: auto;
  max-height: 1200px;
  width: auto;
  max-width: 80%;
  margin: 0 auto;
}

// .article-banner {
//   width: 100%;
//   margin: 0 auto;
// }

// .article-banner img {
//   max-width: 80%;
//   max-height: 500px;
//   width: auto;
//   height: auto;
//   display: block;
//   margin: 0 auto;
// }